extends layout_app

block content
	main
		.row
			.col-sm-12.col-md-8
				.jumbotron
					h1 This project is named Pollaky because...
						hr
						h2 Ignatius Paul Pollaky
						h5 From Wikipedia, the free encyclopedia
						p Ignatius Paul Pollaky ipa po'laki (1828 – 25 February 1918) also known as "Paddington" Pollaky, born in Hungary, became one of the first and best-known professional private detectives in Britain. He also worked with London's Metropolitan Police, instigating alien registration in Britain.
						p This is a work of data recovery on sites, and that's investigate.
						p hdpl
			.col-sm-12.col-md-4
				img.rounded.img-fluid(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Pollaky.JPG/400px-Pollaky.JPG")